* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  color: silver;
  width: 702px;
  margin: 0 auto;
}

.calender__board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border: 1px solid silver;*/
  border-radius: 20px;
}

.calender__days,
.calender__dates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid silver;
  border-radius: 5px;
}

.calender__dates {
  flex-wrap: wrap;
}

.calender__day,
.calender__date {
  display: block;
  width: 100px;
  border: 1px solid silver;
  border-radius: 5px;
  color: black;
  text-align: center;
}

.calender__day {
  height: 40px;
  line-height: 40px;
  background-color: rgba(192, 192, 192, 0.5);
}

.calender__date {
  padding-top: 10px;
  min-height: 86px;
}

.selected {
  border: 1px solid rgb(0, 19, 217);
  box-shadow: inset 0 0 7px rgba(0, 19, 217, 0.6);
}

.today {
  border: 1px solid red;
  box-shadow: inset 0 0 7px rgba(233, 21, 26, 0.6);
}

.events {
  box-shadow: none;
  border: none;
}

.event {
  max-width: 95px;
  border: 1px solid silver;
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(192,192,192,0.6);
  word-break: break-all;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.header__btn,
.modal__btn {
  width: 70px;
  height: 50px;
  border: 2px solid silver;
  border-radius: 4px;
  background-color: white;
  font-weight: 600;
  font-size: 17px;
  font-family: "Comfortaa", cursive;
  color: silver;
  }

.modal {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 300px;
  padding: 20px;
  background-color: white;
  border: 2px solid silver;
  border-radius: 4px;
  box-shadow: 0 0 50px rgba(192,192,192,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__btn {
  margin: 10px;
  min-width: 80px;
}

input[type="text"] {
  margin: 5px 0px 15px;
  padding: 5px;
  width: 100%;
  background-color: white;
  border: 1px solid silver;
  border-radius: 4px;
}
label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

@media (max-width: 720px) {
  .calender__board {
    width: 100%;
  }

  .calender__day,
  .calender__date {
    width: 14.27%;
  }
}
